<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
<!--  <h6><label>Report: {{report.datetime}}</label></h6>-->
  <h6>Report: {{report.datetime}}</h6>
  <br><br>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <!--        TODO: fill date/time and hide field -->
        <!--        https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/hidden -->
        <input class="input" type="hidden" name="datetime" value="{{report.datetime}}">
      </div>
      <div class="field">
        <label>Weather Code</label>
        <input class="input" type="text" placeholder="000" name="weathercode" maxlength="3" value="{{report.weathercode}}">
      </div>
      <div class="field">
        <label>Temperature [ ยบC ]</label>
        <input class="input" type="text" placeholder="-10.1" name="temperature" maxlength="5" value="{{report.temperature}}">
      </div>
      <div class="field">
        <label>Wind Speed [ m/s ]</label>
        <input class="input" type="text" placeholder="00" name="windspeed" maxlength="2" value="{{report.windspeed}}">
      </div>
      <div class="field">
        <label>Wind Direction [ ยบ ]</label>
        <input class="input" type="text" placeholder="000" name="winddirection" maxlength="3" value="{{report.winddirection}}">
      </div>
      <div class="field">
        <label>Pressure [ hPa ]</label>
        <input class="input" type="text" placeholder="0000" name="pressure" maxlength="4" value="{{report.pressure}}">
      </div>
    </div>
  </div>
  <div class="field is-grouped">
    <button class="button is-primary">Update Report</button>
  </div>
</form>