<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
  <label>Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title" value="{{report.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Artist" name="artist" value="{{report.artist}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter duration" name="duration" value="{{report.duration}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Track</button>
</form>