<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
<!--  <h6><label>Report: {{report.datetime}}</label></h6>-->
  <h6 class="heading">Report Date: {{report.datetime}}</h6>
  <h6 class="heading">Report ID: {{report._id}}</h6>
  <br><br>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <!--        TODO: fill date/time and hide field -->
        <!--        https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/hidden -->
        <input class="input" type="hidden" name="datetime" value="{{report.datetime}}">
      </div>
      <div class="field">
        <label>Weather Code</label>
        <!--        https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/min-->
        <input class="input" type="number" min="200" max="804" placeholder="000" name="weathercode" maxlength="3" value="{{report.weathercode}}">
      </div>
      <div class="field">
        <label>Temperature</label>
        <input class="input" type="number" min="-90" max="90" placeholder="ยบC" name="temperature" maxlength="5" value="{{report.temperature}}">
      </div>
      <div class="field">
        <label>Wind Speed</label>
        <input class="input" type="number" min="0" max="150" placeholder="m/s" name="windspeed" maxlength="4" value="{{report.windspeed}}">
      </div>
      <div class="field">
        <label>Wind Direction</label>
        <input class="input" type="number" min="0" max="360" placeholder="360ยบ" name="winddegrees" maxlength="4" value="{{report.winddegrees}}">
      </div>
      <div class="field">
        <label>Pressure</label>
        <input class="input" type="number" min="870" max="1085" placeholder="hPa" name="pressure" maxlength="4" value="{{report.pressure}}">
      </div>
    </div>
  </div>
  <div class="field is-grouped">
    <button class="button is-primary">Update Report</button>
  </div>
</form>