<form class="box" action="/updateaccount/{{user._id}}" method="POST">
  <label class="label">Account Details:</label>
<!--  <label class="label">Name</label>-->
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label>First Name</label>
        <input class="input" type="text" placeholder="Enter first name" name="firstname" value="{{user.firstname}}">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input class="input" type="text" placeholder="Enter last name" name="lastname" value="{{user.lastname}}">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <input class="input" type="text" placeholder="Enter email" name="email" value="{{user.email}}">
  </div>
  <div class="field">
    <label>Password</label>
    <input class="input" type="password" placeholder="Enter Password" name="password" value="{{user.password}}">
  </div>
  <div class="field is-grouped">
    <button class="button is-link">Update Account</button>
  </div>
</form>