
{{#each stations}}

  {{>summary-station}}

<div class="box box-link-hover-shadow">

  <div class="columns">
    <div class="column is-two-fifths">
      <h2 class="title is-capitalized">
        {{stationname}}
      </h2>
    </div>
    <div class="column">
      <h6 class="heading">
        <br>Lat: {{latitude}}, Lon: {{longitude}},
        <br>Station Id: {{_id}},
        <br>Reports in station: {{numberOfReports}}, Updated: {{timeSinceLastReport}}
      </h6>
    </div>
    <div class="column is-one-fifth">
      <a href="/station/{{_id}}" class="button">
        {{>icons/open}}
      </a>
      <a href="/dashboard/deletestation/{{_id}}" class="button">
        {{>icons/delete}}
      </a>
    </div>
  </div>

</div>
{{/each}}