
Reports in station: {{numberOfReportsInStation}}
{{#each stations}}

>summary-station

<div class="box box-link-hover-shadow">
  <h2 class="title is-capitalized">
    {{stationname}}
  </h2>
  <h6 class="heading mb-4">
    Station Id: {{_id}},
    <br>Lat: {{latitude}}, Lon: {{longitude}}, Reports in station: {{stationreports.length}}
    <br>Latest report: {{latestreportid}}
  </h6>

  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}