{{#each stations}}
  {{> summary-station}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    {{stationname}}
  </h2>
  <h6 class="subtitle">
    <p>this comes from: list-stations.hbs</p>
    Elapsed: {{timeSinceLastReport}}, Lat: {{latitude}}, Lon: {{longitude}}
  </h6>

  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}