
{{#each stations}}

<div class="box box-link-hover-shadow">

  <div class="columns">
    <div class="column is-4 is-inline">
      <h2 class="title is-capitalized is-4 {{> class-brand}}">
        {{stationname}}
      </h2>
      <h6 class="subtitle heading">
        Lat: {{latitude}}, Lon: {{longitude}}
        <br>{{numberOfReports}} reports<span class="{{classHidden}}">
        <br>Updated {{timeSinceLastReport}}</span>
      </h6>

    </div>

    <div class="column is-inline"></div>

    <div class="column is-8">
      <div class="columns {{classHidden}} is-8 -box mt-2">

<!--        <div class="column is-inline"></div>-->

        <div class="column is-3 is-inline">
          <div class="columns is-flex is-centered">
            <figure class="{{imageclass}} image is-48x48 is-inline-block" title="{{latestWeather.description}}">
              <img src="https://openweathermap.org/img/wn/{{latestWeather.icon}}@2x.png" alt="image">
            </figure>
          </div>
        </div>

        <div class="column is-2 is-inline ">
<!--          <div class="is-inline has-text-centered">-->
            <div class="columns is-flex is-centered">
          <h2 class="title has-text-weight-light has-text-centered is-centered has-text-grey is-inline {{summary.temperatureAlert}} "
              title="Min {{summary.minTemperature}}ยบ, Max {{summary.maxTemperature}}ยบ">
            {{latestTemperature}}
          </h2>
          </div>
        </div>

        <div class="column is-3 is-inline">
<!--          <div class="column is-flex vcenter">-->
            <div class="columns is-flex is-centered has-text-centered">
<!--          https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate -->
<!--          https://stackoverflow.com/questions/31377572/rotate-html-special-character-or-text -->
            <h2 class="subtitle has-text-centered has-text-grey -is-pink -rotate-arrow is-inline mt-2"
                title="{{summary.windDirection}}, {{summary.windspeed}}m/s"
                {{> rotate-arrow}}>
                &#10148;
            </h2>
              <h2 class="subtitle -has-text-centered -has-text-grey -is-inline mt-3 {{summary.windalert}}"
              title="strong wind">

              </h2>
          </div>
        </div>

        <div class="column is-4 is-inline"></div>

      </div>

      <div class="columns">

        <div class="-field column is-8 -is-inline">
          <!--    <label>Wind Direction</label>-->
          <div class="select is-fullwidth is-brand {{classHidden}}">
            <select class="input {{> class-brand}}" name="showMoreDetails">
              <option>{{latestWeather.description}}</option>
              <option value="0">Wind: {{summary.windDirection}}, {{summary.windspeed}}m/s,
                Max: {{summary.maxWindSpeed}}m/s, Min: {{summary.minWindSpeed}}m/s</option>
              <option value="0">Pressure: {{summary.pressure}}hPa,
                Max: {{summary.maxPressure}}hPa, Min: {{summary.minPressure}}hPa</option>
            </select>
          </div>

        </div>

        <div class="column is-4 is-inline">
          <a href="/station/{{_id}}" class="button" title="Show Reports">
            {{>icons/open}}
          </a>
          <a href="/dashboard/deletestation/{{_id}}" class="button" title="Delete Station">
            {{>icons/delete}}
          </a>
        </div>

      </div>


    </div>

    <div class="column is-inline"></div>

<!--    <div class="column is-2 is-inline is-flex is-flex-direction-column">-->
<!--      <div class="is-inline mt-auto">-->
<!--        <a href="/station/{{_id}}" class="button">-->
<!--          {{>icons/open}}-->
<!--        </a>-->
<!--        <a href="/dashboard/deletestation/{{_id}}" class="button">-->
<!--          {{>icons/delete}}-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

  </div>



<!--  ..-->



</div>
{{/each}}