
Reports in station: {{numberOfReportsInStation}}
{{#each stations}}

{{>summary-station}}

<div class="box box-link-hover-shadow">
  <h2 class="title is-capitalized">
    {{stationname}}
  </h2>
  <h6 class="heading mb-4">

    <br>Lat: {{latitude}}, Lon: {{longitude}}, Station Id: {{_id}},
    <br>Reports in station: {{numberOfReports}}, Updated: {{timeSinceLastReport}}

  </h6>

  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}