<table class="table is-fullwidth -is-borderless -box">
  <thead>
    <tr>
      <th class="has-text-right">Date & Time</th>
      <th class="has-text-right">Code</th>
      <th class="has-text-right">Temperature</th>
      <th class="has-text-right">Wind Speed</th>
      <th class="has-text-right">Wind Direction</th>
      <th class="has-text-right">Pressure</th>
      <th class="has-text-right"> </th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr class="{{> class-brand}} has-text-weight-light has-text-right">
      <td>
        {{datetime}}
      </td>
      <td>
        {{weathercode}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windspeed}}
      </td>
      <td>
        {{winddegrees}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button" title="Edit">
          {{>icons/edit}}
        </a>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button" title="Delete">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>