<nav class="navbar mb-6">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <div class="navbar-menu is-active" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link {{menuHide.buttonClassAddStation}}" href="#new-station">Add Station</a>
          <a class="button is-link {{menuHide.buttonClassAddReport}}" href="#new-report">Add Report</a>
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="about" class="button" href="/about"> About </a>
          <a id="account" class="button" href="/account"><span class="is-hidden">{{>icons/logo-menu-button}}</span> <span class="is-capitalized">{{firstname}}</span> </a>
          <a id="logout" class="button is-link {{menuHide.buttonClassLogout}}" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>