<div class="column is-3">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered is-capitalized">
        Location: {{stationname}}
      </p>
    </header>
    <div>
      <div>
        <button class="button is-white m-1 has-text-grey is-size-4" aria-haspopup="true" aria-controls="dropdown-menu2">
          {{weather.main}}
        </button>
      </div>

    </div>

    <div class="card-image">
      <img class="px-6 mb-1" src="https://openweathermap.org/img/wn/10d@2x.png" alt="image">
      <!--      {{>icons/logo}}-->
      <!--      <figure class="image">-->
      <!--        <img class="px-6 mb-1" src="https://openweathermap.org/img/wn/10d@2x.png" alt="image">-->
      <!--        -->
      <!--      </figure>-->
    </div>
    <article class="card-content">


      <p class="content is-size-4">
        {{latestReport.weathercode}}
      </p>
    </article>

    <footer class="card-footer is-size-7">
      <p class="card-footer-item">
        <span>Lat: {{station.latitude}}</span>
      </p>
      <p class="card-footer-item">
        <span>Lon: {{station.longitude}}</span>
      </p>
    </footer>
  </section>
</div>