<!-- TODO dashboard summary -->

<div class="subtitle">
  Latest Report: {{latestReport.datetime}},
  {{timeSinceLastReport}}
</div>
  from: summary-station.hbs
<br>
<br>Latest temperature: {{latestReport.temperature}} ºC
<br>Max temperature: {{summary.maxTemperature}} ºC
<br>Min temperature: {{summary.minTemperature}} ºC

<br>Latest wind speed: {{latestReport.windspeed}} m/s
<br>Max wind speed: {{summary.maxWindSpeed}} m/s
<br>Min wind speed: {{summary.minWindSpeed}} m/s

<br>Latest pressure: {{latestReport.pressure}} hPa
<br>Max pressure: {{summary.maxPressure}} hPa
<br>Min pressure: {{summary.minPressure}} hPa
<br>


<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered is-capitalized">
        {{stationname}}
      </p>
    </header>
    <div>
      <div>
        <button class="button is-white m-1 has-text-grey is-size-3" aria-haspopup="true" aria-controls="dropdown-menu2">
        </button>
      </div>

    </div>

    <div class="card-image px-6">

      <figure class="image">
        <img class="px-6 mb-1" src=""
             alt="image">
      </figure>
    </div>
    <article class="card-content">


      <p class="content is-size-4">
        {{latestReport.weathercode}}
      </p>
    </article>

    <footer class="card-footer">
      <p class="card-footer-item">
        Lat {{station.latitude}}
      </p>
      <p class="card-footer-item">
        <span>Lon {{station.longitude}}</span>
      </p>
    </footer>
  </section>
</div>