

<div class="subtitle">
  Latest Report: {{latestReport.datetime}}, {{elapsed}}
  <br>
  Most recent reading temperature: {{latestReport.temperature}}
  <br>
  Max temperature: {{maxTemperatureReport.temperature}}
  <br>
  Min temperature: {{minTemperatureReport.temperature}}
  <br>
  Max wind speed: {{maxWindSpeedReport.windspeed}}
  <br>
  Max pressure: {{maxPressureReport.pressure}}
  <br>
  Min pressure: {{minPressureReport.pressure}}

  <br>
  <!--    Max wind speed (extreme): {{extremeReport.windspeed}}-->
</div>