 <div class="columns">
   <!-- TODO dashboard summary -->
  {{#each cards}}
  <div class="column tile">
  <!--    make card height the same for the row -->
  <!-- bulma class tile;    https://github.com/jgthms/bulma/issues/1121  -->
    <section class="card has-text-centered tile is-child">
      <article class="card-content">
        <div class="mb-5">
          <p class="heading">{{heading}}</p>
          <p class="title is-size-3 {{mainclass}}">{{main}}</p>
        </div>
        <div class="columns is-flex is-centered">
          <img class="{{imageclass}}" src="{{image}}" alt="image">
        </div>
        <div class="subtitle has-text-weight-light is-family-sans-serif is-size-6 has-text-grey">
          {{subtitle}}
        </div>
      </article>

      <footer class="card-footer is-size-6 mt-auto">
        <p class="card-footer-item is-family-monospace">
          {{min}}
          <br>
          {{max}}
        </p>
      </footer>
    </section>
  </div>

  {{/each}}
  </div>
